section.fixed.f1{background-image: url("../../images/background3.jpg");}
section.scrolling.s1{background-color: white;}
section.scrolling.s2{background-color: #F5F5F5;}
section.scrolling.s3{background-color: #373737;}