@font-face {
    font-family: 'karla';
    src:url(../fonts/Karla-Regular.ttf);
}
@font-face {
    font-family: 'karla-bold';
    src:url(../fonts/Karla-Bold.ttf);
}
@font-face {
    font-family: 'karla-boldItalic';
    src:url(../fonts/Karla-BoldItalic.ttf);
}
@font-face {
    font-family: 'karla-italic';
    src:url(../fonts/Karla-Italic.ttf);
}