@font-face {
  font-family: 'karla';
  src: url(../fonts/Karla-Regular.ttf);
}
@font-face {
  font-family: 'karla-bold';
  src: url(../fonts/Karla-Bold.ttf);
}
@font-face {
  font-family: 'karla-boldItalic';
  src: url(../fonts/Karla-BoldItalic.ttf);
}
@font-face {
  font-family: 'karla-italic';
  src: url(../fonts/Karla-Italic.ttf);
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.button {
  padding: 5px;
  border: 2px solid #06D0FF;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 0.16s ease-out 0.16s, background-color 0.16s ease-out 0.16s;
  cursor: pointer;
  width: 150px;
}
.button:hover {
  background-color: #06D0FF;
}
.button--size {
  background-color: white;
  height: 40px;
  width: 90px;
}
.button--border {
  border: 3px solid white;
  width: 210px;
}
.button--border:hover {
  border-color: #06D0FF;
}
.button__link {
  color: black;
  font-size: 1em;
}
.button__link--color {
  color: white;
  font-size: 1.5em;
  padding: 3px;
}

section.fixed.f1 {
  background-image: url("../images/background3.jpg");
}
section.scrolling.s1 {
  background-color: white;
}
section.scrolling.s2 {
  background-color: #F5F5F5;
}
section.scrolling.s3 {
  background-color: #373737;
}

/* 
* Gobal
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body,
html {
  font-family: 'karla';
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 2em;
  word-break: break-word;
  padding: 1em 0em;
  text-align: center;
}

p {
  padding-bottom: 1em;
  font-weight: 100;
}

img,
iframe {
  max-width: 100%;
}

a {
  color: #06D0FF;
  text-decoration: none;
}

body {
  -webkit-font-smoothing: antialiased;
}

/*
 * Sections
 */
section.fixed {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
}
section.scrolling {
  line-height: 1.6;
  padding: 4em 0;
  position: relative;
  z-index: 2;
}
section .container::after {
  clear: both;
  content: '';
  display: table;
}

.container {
  margin: 0 auto;
  max-width: 65%;
  width: 90%;
}

/*
 * Responsiveness
 */
@media only screen and (max-width: 768px) {
  .nav {
    justify-content: center;
  }

  .offer {
    flex-direction: column;
    margin: 0 auto;
  }

  .presentation {
    flex-direction: column;
  }

  .projects {
    flex-direction: column;
  }
}
.formulaire {
  display: flex;
  justify-content: center;
}
.formulaire form {
  display: flex;
  flex-direction: column;
}
.formulaire input {
  color: black;
  border: 2px solid #06D0FF;
  height: 30px;
  width: 350px;
  padding: 3px;
  margin: 3px;
  outline: none;
}
.formulaire textarea {
  color: black;
  border: 2px solid #06D0FF;
  width: 350px;
  padding: 3px;
  margin: 3px;
  outline: none;
}

.navbar {
  display: flex;
  width: 100%;
  height: 53px;
  background-color: #373737;
  z-index: 3;
}
.navbar__links {
  display: flex;
  max-width: 65%;
  width: 100%;
  flex-direction: row;
  margin: 0 auto;
}
.navbar__links a {
  color: white;
  font-weight: 100;
  font-size: 1em;
  display: flex;
  align-items: center;
  margin: 0px 20px;
  transition: color 0.14s ease-out 0.14s;
}
.navbar__links a:hover {
  color: #06D0FF;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.f1--color {
  color: white;
}

/*
  * About
  */
#about {
  padding-top: 6em;
}

.offer {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.offer__quality {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.offer__quality p {
  text-align: center;
}
.offer__quality--size {
  width: 248px;
}
.offer__quality--size2 {
  width: 279px;
}
.offer__quality--size3 {
  width: 290px;
}

.presentation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 8em;
}
.presentation__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.presentation__img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.presentation__write {
  max-width: 400px;
}

/*
* Projects
*/
.projects {
  display: flex;
  justify-content: center;
}
.projects__project {
  width: 350px;
  height: 350px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.projects__project.--waykup {
  background-image: url("../images/waykup.PNG");
}
.projects__project.--rooter {
  background-image: url("../images/rooter.jpg");
}
.projects__project.--chater {
  background-image: url("../images/thechater.jpg");
}

/*
* Footer
*/
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__link img {
  width: 60px;
  height: 60px;
  margin: 15px;
}

/*# sourceMappingURL=aplication.css.map */
