@import url(base/font.css);
@import url(base/global.css);
@import url(base/normalize.css);
@import url(layout/sections.css);

/*
* Navbar
*/
#navbar {
    display: flex;
    width: 100%;
    height: 53px;
    background-color: #373737;
    z-index: 3;
}

.navbar__links {
    display: flex;
    max-width: 65%;
    width: 100%;
    flex-direction: row;
    margin: 0 auto;
}

.navbar__links a {
    color: white;
    font-weight: 100;
    font-size: 1em;
    display: flex;
    align-items: center;
    margin: 0px 20px;
    transition: color 0.14s ease-out 0.14s;
}

.navbar__links a:hover {
    color: #06D0FF;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

/*
  * Home page
  */
.f1--color {
    color: white;
}

/*
  * About
  */
#about {
    padding-top: 6em;
}

.offer {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.offer__quality {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.offer__quality p {
    text-align: center;
}

.offer__quality--size {
    width: 248px;
}

.offer__quality--size2 {
    width: 279px;
}

.offer__quality--size3 {
    width: 290px;
}

.presentation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8em;
}

.presentation__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.presentation__img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.presentation__write {
    max-width: 400px;
}

/*
* Projects
*/
.projects {
    display: flex;
    justify-content: center;
}

.projects__project {
    width: 350px;
    height: 350px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.project--waykup {
    background-image: url("../images/waykup.PNG");
}

.project--rooter {
    background-image: url("../images/rooter.jpg");
}

.project--chater {
    background-image: url("../images/thechater.jpg");
}

/*
* Contact
*/
.formulaire form {
    display: flex;
    flex-direction: column;
}

.formulaire {
    display: flex;
    justify-content: center;
}

.formulaire input {
    color: black;
    border: 2px solid #06D0FF;
    height: 30px;
    width: 350px;
    padding: 3px;
    margin: 3px;
    outline: none;
}

.formulaire textarea {
    color: black;
    border: 2px solid #06D0FF;
    width: 350px;
    padding: 3px;
    margin: 3px;
    outline: none;
}

/*
* Footer
*/
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__link img {
    width: 60px;
    height: 60px;
    margin: 15px;
}

/*
* Button
*/

.button {
    padding: 5px;
    border: 2px solid #06D0FF;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 0.16s ease-out 0.16s, background-color 0.16s ease-out 0.16s;
    cursor: pointer;
    width: 150px;
}

.button.button--size {
    background-color: white;
    height: 40px;
    width: 90px;
}

.button:hover {
    background-color: #06D0FF;
}

.button.button--border {
    border: 3px solid white;
    width: 210px;
}

.button.button--border:hover {
    border-color: #06D0FF;
}

.button__link {
    color: black;
    font-size: 1em;
}

.button__link--color {
    color: white;
    font-size: 1.5em;
    padding: 3px;
}