.navbar {
    display: flex;
    width: 100%;
    height: 53px;
    background-color: $primary-color;
    align-items: center;
    z-index: 3;
    &__links {
        display: flex;
        max-width: 65%;
        width: 100%;
        flex-direction: row;
        margin: 0 auto;
        a {
            color: white;
            font-weight: 100;
            font-size: 1em;
            display: flex;
            align-items: center;
            margin: 0px 20px;
            transition: color 0.08s ease-out 0.08s;
            &:hover {
                color: $secondary-color;
            }
        }
    }
}
.sticky {
    position: fixed;
    top: 0;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    margin-left: 20px;
    cursor: pointer;
    display: none;
  }
#check{
    display: none;
}
  @media (max-width: 768px){
    .checkbtn{
      display: block;
      margin-right: 40px;
      margin-left: 20px;
    }
    .navbar__links{
      position: fixed;
      width: 30%;
      height: 100vh;
      background: $responsive-nav;
      top: 53px;
      left: -100%;
      text-align: column;
      transition: all .5s;
      display: flex;
      flex-direction: column;
      a {
        font-size: 1.2em;
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }
    #check:checked ~ .navbar__links{
    left: 0;
    }
}