.navbar {
    display: flex;
    width: 100%;
    height: 53px;
    background-color: $primary-color;
    align-items: center;
    z-index: 3;
    &__links {
        display: flex;
        max-width: 65%;
        width: 100%;
        flex-direction: row;
        margin: 0 auto;
        a {
            color: white;
            font-weight: 100;
            font-size: 1em;
            display: flex;
            align-items: center;
            margin: 0px 20px;
            transition: color 0.08s ease-out 0.08s;
            &:hover {
                color: $secondary-color;
            }
        }
    }
    .burgerMenu {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 11.5px;
        cursor: pointer;
    }
}
.sticky {
    position: fixed;
    top: 0;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 4px;
    background-color: white;
    margin: 3px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-10px, 3px);
    transform: rotate(-45deg) translate(-10.5px, 3px);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-10px, -8px);
    transform: rotate(45deg) translate(-10.5px, -4px);
}