.section {
    &.fixed {
        &.f1 {
            background-image: url("../../images/background3.jpg");
        }
    }
    &.scrolling {
        &.s1 {
            background-color: white;
        }
        &.s2 {
            background-color: #F5F5F5;
        }
        &.s3 {
            background-color: #373737;
        }
    }
}