.section {
    &.fixed {
        &.f1 {
            background-image: url("../../images/background3.jpg");
        }
    }
    &.scrolling {
        &.s1 {
            background-color: white;
        }
        &.s2 {
            background-color: $section-background;
        }
        &.s3 {
            background-color: $primary-color;
        }
    }
}