@font-face {
  font-family: 'karla';
  src: url(../fonts/Karla-Regular.ttf);
}
@font-face {
  font-family: 'karla-bold';
  src: url(../fonts/Karla-Bold.ttf);
}
@font-face {
  font-family: 'karla-boldItalic';
  src: url(../fonts/Karla-BoldItalic.ttf);
}
@font-face {
  font-family: 'karla-italic';
  src: url(../fonts/Karla-Italic.ttf);
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.button {
  padding: 5px;
  border: 2px solid #06D0FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: border 0.16s ease-out 0.16s, background-color 0.16s ease-out 0.16s;
  -o-transition: border 0.16s ease-out 0.16s, background-color 0.16s ease-out 0.16s;
  transition: border 0.16s ease-out 0.16s, background-color 0.16s ease-out 0.16s;
  cursor: pointer;
  width: 150px;
}
.button:hover {
  background-color: #06D0FF;
}
.button--size {
  background-color: white;
  height: 40px;
  width: 90px;
}
.button--border {
  border: 3px solid white;
  width: 210px;
}
.button--border:hover {
  border-color: #06D0FF;
}
.button__link {
  color: black;
  font-size: 1em;
}
.button__link--color {
  color: white;
  font-size: 1.5em;
  padding: 3px;
}

section.fixed.f1 {
  background-image: url("../images/background3.jpg");
}
section.scrolling.s1 {
  background-color: white;
}
section.scrolling.s2 {
  background-color: #F5F5F5;
}
section.scrolling.s3 {
  background-color: #373737;
}

/* 
* Gobal
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body,
html {
  font-family: 'karla';
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 2em;
  word-break: break-word;
  padding: 1em 0em;
  text-align: center;
}

p {
  padding-bottom: 1em;
  font-weight: 100;
}

img,
iframe {
  max-width: 100%;
}

a {
  color: #06D0FF;
  text-decoration: none;
}

body {
  -webkit-font-smoothing: antialiased;
}

/*
 * Sections
 */
section.fixed {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  z-index: 1;
}
section.scrolling {
  line-height: 1.6;
  padding: 4em 0;
  position: relative;
  z-index: 2;
}
section .container::after {
  clear: both;
  content: '';
  display: table;
}

.container {
  margin: 0 auto;
  max-width: 65%;
  width: 90%;
}

/*
 * Responsiveness
 */
@media only screen and (max-width: 768px) {
  .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .offer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }

  .presentation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .projects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.formulaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.formulaire form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.formulaire input {
  color: black;
  border: 2px solid #06D0FF;
  height: 30px;
  width: 350px;
  padding: 3px;
  margin: 3px;
  outline: none;
}
.formulaire textarea {
  color: black;
  border: 2px solid #06D0FF;
  width: 350px;
  padding: 3px;
  margin: 3px;
  outline: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 53px;
  background-color: #373737;
  z-index: 3;
}
.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 65%;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
}
.navbar__links a {
  color: white;
  font-weight: 100;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 20px;
  -webkit-transition: color 0.14s ease-out 0.14s;
  -o-transition: color 0.14s ease-out 0.14s;
  transition: color 0.14s ease-out 0.14s;
}
.navbar__links a:hover {
  color: #06D0FF;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.f1--color {
  color: white;
}

/*
  * About
  */
#about {
  padding-top: 6em;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.offer__quality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.offer__quality p {
  text-align: center;
}
.offer__quality--size {
  width: 248px;
}
.offer__quality--size2 {
  width: 279px;
}
.offer__quality--size3 {
  width: 290px;
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8em;
}
.presentation__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.presentation__img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.presentation__write {
  max-width: 400px;
}

/*
* Projects
*/
.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.projects__project {
  width: 350px;
  height: 350px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
}
.projects__project.--waykup {
  background-image: url("../images/waykup.PNG");
}
.projects__project.--rooter {
  background-image: url("../images/rooter.jpg");
}
.projects__project.--chater {
  background-image: url("../images/thechater.jpg");
}

/*
* Footer
*/
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact__link img {
  width: 60px;
  height: 60px;
  margin: 15px;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uLy4uL2Fzc2V0cy9zYXNzL2Jhc2UvX2ZvbnQuc2NzcyIsIi4uLy4uLy4uL2Fzc2V0cy9jc3MvYXBwbGljYXRpb24uY3NzIiwiLi4vLi4vLi4vYXNzZXRzL3Nhc3MvYmFzZS9fYmFzZS5zY3NzIiwiLi4vLi4vLi4vYXNzZXRzL3Nhc3MvY29tcG9uZW50cy9fYnV0dG9uLnNjc3MiLCIuLi8uLi8uLi9hc3NldHMvc2Fzcy91dGlscy9fdmFyLnNjc3MiLCIuLi8uLi8uLi9hc3NldHMvc2Fzcy9sYXlvdXRzL19zZWN0aW9uLnNjc3MiLCIuLi8uLi8uLi9hc3NldHMvc2Fzcy9sYXlvdXRzL19nbG9iYWwuc2NzcyIsIi4uLy4uLy4uL2Fzc2V0cy9zYXNzL2xheW91dHMvX2Zvcm0uc2NzcyIsIi4uLy4uLy4uL2Fzc2V0cy9zYXNzL2xheW91dHMvX25hdmJhci5zY3NzIiwiLi4vLi4vLi4vYXNzZXRzL3Nhc3MvcGFnZXMvX2luZGV4LnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7RUFDSSxvQkFBb0I7RUFDcEIsb0NBQW1DO0FDQ3ZDO0FEQ0E7RUFDSSx5QkFBeUI7RUFDekIsaUNBQWdDO0FDQ3BDO0FEQ0E7RUFDSSwrQkFBK0I7RUFDL0IsdUNBQXNDO0FDQzFDO0FEQ0E7RUFDSSwyQkFBMkI7RUFDM0IsbUNBQWtDO0FDQ3RDO0FDZkM7RUFDRyx1QkFBdUI7RUFDdkIsMEJBQTBCO0VBQzFCLDhCQUE4QjtBRGlCbEM7O0FDZkU7RUFDRSxTQUFTO0FEa0JiOztBQ2ZFOzs7Ozs7Ozs7Ozs7O0VBYUUsY0FBYztBRGtCbEI7O0FDZkU7Ozs7RUFJRSxxQkFBcUI7RUFDckIsd0JBQXdCO0FEa0I1Qjs7QUNmRTtFQUNFLGFBQWE7RUFDYixTQUFTO0FEa0JiOztBQ2ZFOztFQUVFLGFBQWE7QURrQmpCOztBQ2ZFO0VBQ0UsNkJBQTZCO0FEa0JqQzs7QUNmRTs7RUFFRSxVQUFVO0FEa0JkOztBQ2ZFO0VBQ0UseUJBQXlCO0FEa0I3Qjs7QUNmRTs7RUFFRSxpQkFBaUI7QURrQnJCOztBQ2ZFO0VBQ0Usa0JBQWtCO0FEa0J0Qjs7QUNmRTtFQUNFLGNBQWM7RUFDZCxnQkFBZ0I7QURrQnBCOztBQ2ZFO0VBQ0UsZ0JBQWdCO0VBQ2hCLFdBQVc7QURrQmY7O0FDZkU7RUFDRSxjQUFjO0FEa0JsQjs7QUNmRTs7RUFFRSxjQUFjO0VBQ2QsY0FBYztFQUNkLGtCQUFrQjtFQUNsQix3QkFBd0I7QURrQjVCOztBQ2ZFO0VBQ0UsV0FBVztBRGtCZjs7QUNmRTtFQUNFLGVBQWU7QURrQm5COztBQ2ZFO0VBQ0UsU0FBUztBRGtCYjs7QUNmRTtFQUNFLGdCQUFnQjtBRGtCcEI7O0FDZkU7RUFDRSxnQkFBZ0I7QURrQnBCOztBQ2ZFO0VBQ0UsK0JBQXVCO1VBQXZCLHVCQUF1QjtFQUN2QixTQUFTO0FEa0JiOztBQ2ZFO0VBQ0UsY0FBYztBRGtCbEI7O0FDZkU7Ozs7RUFJRSxpQ0FBaUM7RUFDakMsY0FBYztBRGtCbEI7O0FDZkU7Ozs7O0VBS0UsY0FBYztFQUNkLGFBQWE7RUFDYixTQUFTO0FEa0JiOztBQ2ZFO0VBQ0UsaUJBQWlCO0FEa0JyQjs7QUNmRTs7RUFFRSxvQkFBb0I7QURrQnhCOztBQ2ZFOzs7O0VBSUUsMEJBQTBCO0VBQzFCLGVBQWU7QURrQm5COztBQ2ZFOztFQUVFLGVBQWU7QURrQm5COztBQ2ZFOztFQUVFLFNBQVM7RUFDVCxVQUFVO0FEa0JkOztBQ2ZFO0VBQ0UsbUJBQW1CO0FEa0J2Qjs7QUNmRTs7RUFFRSw4QkFBc0I7VUFBdEIsc0JBQXNCO0VBQ3RCLFVBQVU7QURrQmQ7O0FDZkU7O0VBRUUsWUFBWTtBRGtCaEI7O0FDZkU7RUFDRSw2QkFBNkI7RUFDN0IsK0JBQXVCO1VBQXZCLHVCQUF1QjtBRGtCM0I7O0FDZkU7O0VBRUUsd0JBQXdCO0FEa0I1Qjs7QUNmRTtFQUNFLHlCQUF5QjtFQUN6QixhQUFhO0VBQ2IsOEJBQThCO0FEa0JsQzs7QUNmRTtFQUNFLFNBQVM7RUFDVCxVQUFVO0FEa0JkOztBQ2ZFO0VBQ0UsY0FBYztBRGtCbEI7O0FDZkU7RUFDRSxpQkFBaUI7QURrQnJCOztBQ2ZFO0VBQ0UseUJBQXlCO0VBQ3pCLGlCQUFpQjtBRGtCckI7O0FDZkU7O0VBRUUsVUFBVTtBRGtCZDs7QUV2T0E7RUFDSSxZQUFZO0VBQ1oseUJBQWtDO0VBQ2xDLG9CQUFhO0VBQWIsb0JBQWE7RUFBYixhQUFhO0VBQ2Isd0JBQXVCO01BQXZCLHFCQUF1QjtVQUF2Qix1QkFBdUI7RUFDdkIseUJBQW1CO01BQW5CLHNCQUFtQjtVQUFuQixtQkFBbUI7RUFDbkIsc0ZBQThFO0VBQTlFLGlGQUE4RTtFQUE5RSw4RUFBOEU7RUFDOUUsZUFBZTtFQUNmLFlBQVk7QUYwT2hCO0FFek9JO0VBQ0kseUJDVGlCO0FIb1B6QjtBRXpPSTtFQUNJLHVCQUF1QjtFQUN2QixZQUFZO0VBQ1osV0FBVztBRjJPbkI7QUV6T0k7RUFDSSx1QkFBdUI7RUFDdkIsWUFBWTtBRjJPcEI7QUUxT1E7RUFDSSxxQkNwQmE7QUhnUXpCO0FFek9JO0VBQ0ksWUFBWTtFQUNaLGNBQWM7QUYyT3RCO0FFMU9RO0VBQ0ksWUFBWTtFQUNaLGdCQUFnQjtFQUNoQixZQUFZO0FGNE94Qjs7QUl4UVE7RUFDSSxrREFBa0Q7QUoyUTlEO0FJdlFRO0VBQ0ksdUJBQXVCO0FKeVFuQztBSXZRUTtFQUNJLHlCRFRnQjtBSGtSNUI7QUl2UVE7RUFDSSx5QkRkVztBSHVSdkI7O0FLdlJBOztDTDJSQztBS3hSRDtFQUNDLFNBQVM7RUFDVCxVQUFVO0VBQ1YsOEJBQXNCO1VBQXRCLHNCQUFzQjtFQUN0QixxQkFBcUI7QUwwUnRCOztBS3ZSQTs7RUFFQyxvQkFBb0I7RUFDcEIsWUFBWTtBTDBSYjs7QUt2UkE7Ozs7OztFQU1DLGdCQUFnQjtFQUNoQixzQkFBc0I7RUFDdEIsZ0JBQWdCO0VBQ2hCLGtCQUFrQjtBTDBSbkI7O0FLdlJBO0VBQ0MsbUJBQW1CO0VBQ25CLGdCQUFnQjtBTDBSakI7O0FLdlJBOztFQUVDLGVBQWU7QUwwUmhCOztBS3ZSQTtFQUNDLGNBQWM7RUFDZCxxQkFBcUI7QUwwUnRCOztBS3ZSQTtFQUNDLG1DQUFtQztBTDBScEM7O0FLdlJBOztFTDJSRTtBS3ZSRTtFQUNJLDRCQUE0QjtFQUM1QixrQ0FBa0M7RUFDbEMsNEJBQTRCO0VBQzVCLHNCQUFzQjtFQUN0QixnQkFBZ0I7RUFDaEIsa0JBQWtCO0VBQ2xCLG9CQUFhO0VBQWIsb0JBQWE7RUFBYixhQUFhO0VBQ2IsNEJBQXNCO0VBQXRCLDZCQUFzQjtNQUF0QiwwQkFBc0I7VUFBdEIsc0JBQXNCO0VBQ3RCLHlCQUFtQjtNQUFuQixzQkFBbUI7VUFBbkIsbUJBQW1CO0VBQ25CLHdCQUF1QjtNQUF2QixxQkFBdUI7VUFBdkIsdUJBQXVCO0VBQ3ZCLGtCQUFrQjtFQUNsQixVQUFVO0FMeVJsQjtBS3ZSSTtFQUNJLGdCQUFnQjtFQUNoQixjQUFjO0VBQ2Qsa0JBQWtCO0VBQ2xCLFVBQVU7QUx5UmxCO0FLdlJJO0VBQ0ksV0FBVztFQUNYLFdBQVc7RUFDWCxjQUFjO0FMeVJ0Qjs7QUtyUkE7RUFDQyxjQUFjO0VBQ2QsY0FBYztFQUNkLFVBQVU7QUx3Ulg7O0FLclJBOztFTHlSRTtBS3RSRjtFQUNDO0lBQ0Msd0JBQXVCO1FBQXZCLHFCQUF1QjtZQUF2Qix1QkFBdUI7RUx3UnZCOztFS3JSRDtJQUNDLDRCQUFzQjtJQUF0Qiw2QkFBc0I7UUFBdEIsMEJBQXNCO1lBQXRCLHNCQUFzQjtJQUN0QixjQUFjO0VMd1JkOztFS3JSRDtJQUNDLDRCQUFzQjtJQUF0Qiw2QkFBc0I7UUFBdEIsMEJBQXNCO1lBQXRCLHNCQUFzQjtFTHdSdEI7O0VLclJEO0lBQ0MsNEJBQXNCO0lBQXRCLDZCQUFzQjtRQUF0QiwwQkFBc0I7WUFBdEIsc0JBQXNCO0VMd1J0QjtBQUNGO0FNL1hBO0VBQ0ksb0JBQWE7RUFBYixvQkFBYTtFQUFiLGFBQWE7RUFDYix3QkFBdUI7TUFBdkIscUJBQXVCO1VBQXZCLHVCQUF1QjtBTmlZM0I7QU1oWUk7RUFDSSxvQkFBYTtFQUFiLG9CQUFhO0VBQWIsYUFBYTtFQUNiLDRCQUFzQjtFQUF0Qiw2QkFBc0I7TUFBdEIsMEJBQXNCO1VBQXRCLHNCQUFzQjtBTmtZOUI7QU1oWUk7RUFDSSxZQUFZO0VBQ1oseUJBQWtDO0VBQ2xDLFlBQVk7RUFDWixZQUFZO0VBQ1osWUFBWTtFQUNaLFdBQVc7RUFDWCxhQUFhO0FOa1lyQjtBTWhZSTtFQUNJLFlBQVk7RUFDWix5QkFBa0M7RUFDbEMsWUFBWTtFQUNaLFlBQVk7RUFDWixXQUFXO0VBQ1gsYUFBYTtBTmtZckI7O0FPeFpBO0VBQ0ksb0JBQWE7RUFBYixvQkFBYTtFQUFiLGFBQWE7RUFDYixXQUFXO0VBQ1gsWUFBWTtFQUNaLHlCSkptQjtFSUtuQixVQUFVO0FQMlpkO0FPMVpJO0VBQ0ksb0JBQWE7RUFBYixvQkFBYTtFQUFiLGFBQWE7RUFDYixjQUFjO0VBQ2QsV0FBVztFQUNYLDhCQUFtQjtFQUFuQiw2QkFBbUI7TUFBbkIsdUJBQW1CO1VBQW5CLG1CQUFtQjtFQUNuQixjQUFjO0FQNFp0QjtBTzNaUTtFQUNJLFlBQVk7RUFDWixnQkFBZ0I7RUFDaEIsY0FBYztFQUNkLG9CQUFhO0VBQWIsb0JBQWE7RUFBYixhQUFhO0VBQ2IseUJBQW1CO01BQW5CLHNCQUFtQjtVQUFuQixtQkFBbUI7RUFDbkIsZ0JBQWdCO0VBQ2hCLDhDQUFzQztFQUF0Qyx5Q0FBc0M7RUFBdEMsc0NBQXNDO0FQNlpsRDtBTzVaWTtFQUNJLGNKcEJTO0FIa2J6Qjs7QU96WkE7RUFDSSxlQUFlO0VBQ2YsTUFBTTtFQUNOLFdBQVc7RUFDWCxVQUFVO0FQNFpkOztBUTFiQTtFQUNJLFlBQVk7QVI2YmhCOztBUTNiQTs7R1IrYkc7QVE1YkQ7RUFDRSxnQkFBZ0I7QVI4YnBCOztBUTViQTtFQUNJLG9CQUFhO0VBQWIsb0JBQWE7RUFBYixhQUFhO0VBQ2IseUJBQTZCO01BQTdCLDZCQUE2QjtFQUM3QiwyQkFBcUI7TUFBckIsd0JBQXFCO1VBQXJCLHFCQUFxQjtBUitiekI7QVE5Ykk7RUFDSSxvQkFBYTtFQUFiLG9CQUFhO0VBQWIsYUFBYTtFQUNiLHdCQUF1QjtNQUF2QixxQkFBdUI7VUFBdkIsdUJBQXVCO0VBQ3ZCLDRCQUFzQjtFQUF0Qiw2QkFBc0I7TUFBdEIsMEJBQXNCO1VBQXRCLHNCQUFzQjtBUmdjOUI7QVEvYlE7RUFDSSxrQkFBa0I7QVJpYzlCO0FRL2JRO0VBQ0ksWUFBWTtBUmljeEI7QVEvYlE7RUFDSSxZQUFZO0FSaWN4QjtBUS9iUTtFQUNJLFlBQVk7QVJpY3hCOztBUTdiQTtFQUNJLG9CQUFhO0VBQWIsb0JBQWE7RUFBYixhQUFhO0VBQ2IseUJBQTZCO01BQTdCLDZCQUE2QjtFQUM3Qix5QkFBbUI7TUFBbkIsc0JBQW1CO1VBQW5CLG1CQUFtQjtFQUNuQixlQUFlO0FSZ2NuQjtBUS9iSTtFQUNJLG9CQUFhO0VBQWIsb0JBQWE7RUFBYixhQUFhO0VBQ2IsNEJBQXNCO0VBQXRCLDZCQUFzQjtNQUF0QiwwQkFBc0I7VUFBdEIsc0JBQXNCO0VBQ3RCLHdCQUF1QjtNQUF2QixxQkFBdUI7VUFBdkIsdUJBQXVCO0FSaWMvQjtBUWhjUTtFQUNJLFlBQVk7RUFDWixhQUFhO0VBQ2Isa0JBQWtCO0FSa2M5QjtBUS9iSTtFQUNJLGdCQUFnQjtBUmljeEI7O0FROWJBOztDUmtjQztBUS9iRDtFQUNJLG9CQUFhO0VBQWIsb0JBQWE7RUFBYixhQUFhO0VBQ2Isd0JBQXVCO01BQXZCLHFCQUF1QjtVQUF2Qix1QkFBdUI7QVJpYzNCO0FRaGNJO0VBQ0ksWUFBWTtFQUNaLGFBQWE7RUFDYixrQ0FBa0M7RUFDbEMsNEJBQTRCO0VBQzVCLHNCQUFzQjtFQUN0QixvQkFBYTtFQUFiLG9CQUFhO0VBQWIsYUFBYTtFQUNiLHdCQUF1QjtNQUF2QixxQkFBdUI7VUFBdkIsdUJBQXVCO0VBQ3ZCLHlCQUFtQjtNQUFuQixzQkFBbUI7VUFBbkIsbUJBQW1CO0VBQ25CLFdBQVc7QVJrY25CO0FRamNRO0VBQ0ksNkNBQTZDO0FSbWN6RDtBUWpjUTtFQUNJLDZDQUE2QztBUm1jekQ7QVFqY1E7RUFDSSxnREFBZ0Q7QVJtYzVEOztBUS9iQTs7Q1JtY0M7QVFoY0Q7RUFDSSxvQkFBYTtFQUFiLG9CQUFhO0VBQWIsYUFBYTtFQUNiLHdCQUF1QjtNQUF2QixxQkFBdUI7VUFBdkIsdUJBQXVCO0VBQ3ZCLHlCQUFtQjtNQUFuQixzQkFBbUI7VUFBbkIsbUJBQW1CO0FSa2N2QjtBUWpjSTtFQUNJLFdBQVc7RUFDWCxZQUFZO0VBQ1osWUFBWTtBUm1jcEIiLCJmaWxlIjoiYXBwbGljYXRpb24uY3NzIn0= */